/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div.row {margin:10px 0;padding:2px 0;width:100%;overflow:hidden;}
div.row div {margin-right:30px;}
div.row div {float:left;}
div.calendar_date_select, div.calendar_date_select div {margin:0 !important;float:none !important;}

input, textarea {padding:2px;}

div.row ul li { float:left;margin:5px 15px; }

